body {
    background-color:#b0acea;
    margin:0;
    gap:0;
    padding:10px;
}


header {
    background-color:whitesmoke;
    padding: 10px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 45px;
    font-weight:bold;
    padding: 5px;
    border: 1px;
    border-radius:3px;
    
}

ul {
    list-style-type: none;

}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 5px 4px;
    border: 1px; 
    border-radius: 5px;
    background-color: #f7619d;
    justify-content: flex-end;
    /* background-color: lightgoldenrodyellow; */
    
}
a {
    color:lavenderblush;
}
button1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 5px 4px;
    border: 1px; 
    border-radius: 5px;
    background-color: #f1c3aa;
    justify-content:right;
}

h2 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: aliceblue;
    margin:10px;
    border: 1px;
    padding:10px;
}
.section-one {
    border: 0px ;
    background-color: #628af6;
    margin:0px;
    padding: 30px;
}

.container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin:0;
}
.Typography-grp {
    display:flex;
    justify-content:center; 
    flex-wrap:wrap;  
}
.Typography {
    display:flex;
    flex-wrap:wrap;
    width:175px;
    height:175px;
    padding:10px;
}
h4{
    font-size: 23px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite
}
.caption {
    font-size: 15px;
    font-style: italic;
    text-align:center;
}

.section-two {
    background-color: #b7d3e9;
    padding:30px;
}
h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}
h5{
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section-three {
    background-color: #cef5d5;
    padding: 30px;
}
.section-four{
    background-color: #a7e0e1;
    padding:30px;
}
footer {
    background-color: #fcf6b5 ;
    font-size: 15px;
    font-style: italic;
    text-align:center;
    padding:20px;
}
