body{
    background-color:#d2c8f1;
    padding: 15px;
    justify-content: center;
}

header {
    background-color:#f1ebc8;
    padding: 10px;
    
}

/* ul {
    list-style-type: none;

} */

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin:auto;
    padding:20px;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 5px 4px;
    border: 1px; 
    border-radius: 5px;
    background-color: #f7619d;
    justify-content: center;
    /* background-color: lightgoldenrodyellow; */
    
}
a {
    color:mistyrose;
}
button1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 13px;
    margin: 5px 4px;
    border: 1px; 
    border-radius: 5px;
    background-color: #b0acea;
    justify-content:flex-start;
}

h2 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#567ace;
    margin:auto;
    border: 1px;
    padding-top:10px;
    text-align: left;
    word-wrap:break-word;
}
.section-one {
    border: 0px ;
    background-color: #a7e0e1;
    margin:0px;
    padding: 20px;
}

.container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding:20px;
    /* flex-direction: row; */
 } 
.Typography-grp {
    display:flex;
    justify-content:baseline; 
    
    flex-wrap:wrap;  
    flex-direction: column;
    padding:10px;
    
}
.Typography {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    max-width:425px;
    height:auto; 
    /*padding-top:20px;*/
    justify-content: center;
    
    
    align-content: baseline;
    
    /* display:flex;
    flex-wrap:wrap;
    width:425px;
    height:425px;
    padding:10px; */
}
h4{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:#535fa1;
}
.caption {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    width:100%;
    max-width:425px;
    padding-top:10px;
    padding-bottom: 20px;
}
.section-three {
    background-color: #b9c3fe;
    padding: 30px;
    justify-content: center;
}
h3 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align:center;
    margin:0;
    
}
.reflection{
    display:flex;
  
    flex-wrap:wrap;  
    flex-direction: column;
    justify-content: space-evenly;
    
}
.Reflection{
    font-size: 22px;
    font-style: italic;
    text-align: center;
    width:100%;
    max-width:900px; 
}
footer {
    background-color: #fee4d6 ;
    font-size: 15px;
    font-style: italic;
    text-align:center;
    padding:20px;
}